<div class="card mb-5 mb-xl-12">
  <!--begin::Header-->
  <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bold fs-3 mb-1">Formulario de Activo fijo</span>
          <!-- <span class="text-muted mt-1 fw-semibold fs-7">Over 500 new products</span> -->
      </h3>
      <div class="card-toolbar">
      </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body py-3">
      <!--begin::Table container-->
      <form (ngSubmit)="create()">
        <div class="row">

          <div class="col-md-3">
            <!-- <div class="form-group">
              <label for="descripcion">id</label>
              <input type="text" class="form-control" [(ngModel)]="activo.idactivo" name="idactivo">
            </div> -->
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <input type="text" class="form-control" [(ngModel)]="activo.descripcion" name="descripcion">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="descripcion">Incorporacion</label>
              <select [compareWith]="compararIncorporacion" class="form-control" [(ngModel)]="activo.incorporacion" name="incorporacion">
                <option [ngValue]="undefined">Seleccione el Grupo</option>
                <option [ngValue]="incorporacion" *ngFor="let incorporacion of incorporaciones">{{ incorporacion.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="descripcion">Grupo</label>
              <select [compareWith]="compararGrupo" class="form-control" [(ngModel)]="activo.grupo" name="grupo" (change)="buscarSubGrupo($event)">
                <option [ngValue]="undefined">Seleccione el Grupo</option>
                <option [ngValue]="grupo" *ngFor="let grupo of grupos">{{ grupo.descripcion }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="descripcion">Sub Grupo</label>
              <!-- <select [compareWith]="compararSubGrupo" class="form-control" [(ngModel)]="activo.subgrupo" name="subgrupo" (change)="cargaGrupo($event)">
                <option [ngValue]="undefined">Seleccione el Grupo</option>
                <option [ngValue]="subgrupo" *ngFor="let subgrupo of subgrupos">{{ subgrupo.descripcion }}</option>
              </select> -->
              <select [compareWith]="compararSubGrupo" class="form-control" [(ngModel)]="activo.subgrupo" name="subgrupo" (change)="cargaComponente($event)">
                <option [ngValue]="undefined">Seleccione el Grupo</option>
                <option [ngValue]="subgrupo" *ngFor="let subgrupo of subGruposBuscados">{{ subgrupo.descripcion }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="estadoComponente">
          <div class="col" *ngFor="let componente of componenteByIdSubgrupo">
            <div class="form-group">
              <label for="descripcion">{{ componente.nombre }}</label>
              <input type="text" class="form-control" [(ngModel)]="componente.estado" name="{{ componente.estado }}[]">
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Codigo</label>
              <input type="text" class="form-control" [(ngModel)]="activo.codigo" name="codigo">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Regimen</label>
              <select class="form-control" [(ngModel)]="activo.regimen" name="regimen">
                <option [ngValue]="undefined">Seleccione el Regimen</option>
                <option [ngValue]="regimen" *ngFor="let regimen of regimenes">{{ regimen.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Regional</label>
              <select class="form-control" [(ngModel)]="activo.regional" name="regional">
                <option [ngValue]="undefined">Seleccione el Regimen</option>
                <option [ngValue]="regional" *ngFor="let regional of regionales">{{ regional.nombre }}</option>
              </select>
              <!-- <input type="text" class="form-control" [(ngModel)]="activo.regional" name="regional"> -->
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Unidad de Manejo</label>
              <select class="form-control"  [(ngModel)]="activo.unidadmanejo" name="unidadmanejo">
                <option [ngValue]="undefined">Seleccione la unidad</option>
                <option [ngValue]="unidamanejo" *ngFor="let unidamanejo of unidadesManejo">{{ unidamanejo.descripcion }}</option>
              </select>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <!-- <div class="form-group">
              <label for="codigo">Ubicacion Especifica</label>
              <select class="form-control">
                <option [ngValue]="undefined">Seleccione la unidad</option>
                <option [ngValue]="unidamanejo" *ngFor="let unidamanejo of unidadesManejo">{{ unidamanejo.descripcion }}</option>
              </select>
            </div> -->
            <div class="form-group">
              <label for="codigo">Placa</label>
              <input type="text" class="form-control" [(ngModel)]="activo.placa" name="placa">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Eficiencia</label>
              <select class="form-control"  [(ngModel)]="activo.eficiencia" name="eficiencia">
                <option [ngValue]="undefined">Seleccione la unidad</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Bueno">Bueno</option>
                <option value="Regular">Regular</option>
                <option value="Malo">Malo</option>
                <option value="Para Baja">Para Baja</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Forma inicial</label>
              <select class="form-control" [(ngModel)]="activo.formainicial" name="formainicial">
                <option [ngValue]="undefined">Seleccione</option>
                <option value="Nuevo">Inc. Transferencia</option>
                <option value="Bueno">Incorporado</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Estado de registro</label>
              <select class="form-control"  [(ngModel)]="activo.estadoregistro" name="estadoregistro">
                <option [ngValue]="undefined">Seleccione</option>
                <option value="Nuevo">Anulado</option>
                <option value="Bueno">Aprobado</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Fecha de combra</label>
              <input type="date" class="form-control" [(ngModel)]="activo.fechacompra" name="fechacompra">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">UFV de compra</label>
              <input type="text" class="form-control" [(ngModel)]="activo.ufv" name="ufv">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tasa de depreciacion</label>
              <input type="text" class="form-control" [(ngModel)]="activo.porcentaje_depreciacion" name="porcentaje_depreciacion">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Vida util (meses)</label>
              <input type="text" class="form-control" [(ngModel)]="activo.vida_util" name="vida_util">
            </div>
          </div>
        </div>

        <!-- <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">UFV de Incio</label>
              <input type="text" class="form-control" [(ngModel)]="activo.ufv_inicio" name="ufv_inicio">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">% de depreciacion</label>
              <input type="number" class="form-control" [(ngModel)]="activo.porcentaje_depreciacion" name="porcentaje_depreciacion">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Vida util</label>
              <input type="text" class="form-control" [(ngModel)]="activo.vida_util" name="vida_util">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Rubro</label>
              <input type="text" class="form-control" [(ngModel)]="activo.rubro" name="rubro">
            </div>
          </div>
        </div> -->

        <!-- <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tipo de cuenta</label>
              <input type="text" class="form-control" [(ngModel)]="activo.tipo_cuenta" name="tipo_cuenta">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tipo de incorporacion</label>
              <input type="text" class="form-control" [(ngModel)]="activo.tipo_incorporacion" name="tipo_incorporacion">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tipo de regimen</label>
              <input type="text" class="form-control" [(ngModel)]="activo.tipo_regimen" name="tipo_regimen">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tipo Modelo</label>
              <input type="text" class="form-control" [(ngModel)]="activo.tipo_modelo" name="tipo_modelo">
            </div>
          </div>
        </div> -->

        <!-- <div class="row mt-3">
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tipo de Marca</label>
              <input type="text" class="form-control" [(ngModel)]="activo.tipo_marca" name="tipo_marca">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Tipo de activo</label>
              <input type="text" class="form-control" [(ngModel)]="activo.tipo_activo" name="tipo_activo">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">Numero de serie</label>
              <input type="text" class="form-control" [(ngModel)]="activo.numero_serie" name="numero_serie">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="codigo">UFV de compra</label>
              <input type="text" class="form-control" [(ngModel)]="activo.ufvcompra" name="ufv_compra">
            </div>
          </div>
        </div> -->

        <!-- <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="codigo">Ubicacion General</label>
              <input type="text" class="form-control" [(ngModel)]="activo.ubicacion_general" name="ubicacion_general">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="codigo">Ubicacion Especifica</label>
              <input type="text" class="form-control" [(ngModel)]="activo.ubicacion_especifica" name="ubicacion_especifica">
            </div>
          </div>
        </div> -->

        <div class="row mt-5">
          <div class="col-md-6">
            <button class="btn btn-primary w-100 btn-success" role="button">Guardar</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary w-100 btn-dark" type="button" routerLink="/activos">Volver</button>
          </div>
        </div>
      </form>
      <!--end::Table container-->
  </div>
  <!--begin::Body-->
</div>




