<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold fs-3 mb-1">Listado de componentes del sub grupo <i class="text-info">{{ subGrupoNombre }}</i></span>
            <!-- <span class="text-muted mt-1 fw-semibold fs-7">Over 500 new products</span> -->
        </h3>
        <div class="card-toolbar">
            <a routerLink="/grupos/formulario" class="btn btn-sm btn-light-primary">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
            <span class="svg-icon svg-icon-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->Nuevo Componente</a>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold text-muted bg-light">
                        <th class="ps-4 rounded-start">ID</th>
                        <th class="min-w-200px">Descripcion</th>
                        <th class="min-w-200px">Grupo</th>
                        <th class="min-w-200px">Fecha</th>
                        <th class="min-w-100px"></th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                  <tr *ngFor="let componente of componentes">
                    <td>{{ componente.idcomponente }}</td>
                    <td>{{ componente.nombre }}</td>
                    <td>{{ componente.subgrupo.descripcion}}</td>
                    <td>{{ componente.fecha }}</td>
                    <td>
                      <button class="btn btn-icon btn-sm btn-warning me-1"><i class="fas fa-edit"></i></button>
                      <button class="btn btn-icon btn-sm btn-danger me-1"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--begin::Body-->
  </div>
  <!--end::Tables Widget 11-->
  
  
  