<div class="card border-danger">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body">
    <form method="">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" name="username" id="username" placeholder="Usuario" autofocus required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="form-group">
            <input type="submit" class="btn btn-success btn-block w-100" value="Login" placeholder="Contraseña">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
